html, body {
    font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Russo One', sans-serif;
    color: @secondary-color;
}
.hook {
  margin-left: 1px;
}

form .form-group label {
  margin-left: -15px;
}
button {
  margin-top: 10px;
}
.space-suit {
  max-height: 250px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
