html, body {
    font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Russo One', sans-serif;
    color: @secondary-color;
    margin-top: 40px;
}

.header {
  background-color: @main-color;
  border-bottom: 1px solid grey;
}

ul a {
  color: black;
  text-emphasis: bold;
  font-size: 1rem;
}

.container {
border: 1px dashed black;
// padding: 0;
}

.carousel {
  width: 100%;
  border: 1px solid red;
  margin: 0;
}

.intro {
  border: 1px solid red;
}

.pictures {
  border: 1px solid yellow;
}
.hook {
border: 1px solid green;
  // margin-left: 1px;
  // width: 100%;
  // padding: 0;
}
.pictures img {
  // width: 300px;
  align-items: center;
  width: 32%;
  height: 100%;

  @media @tablet {
    flex-wrap: wrap;
  }
}
.list {
  border: 1px solid red;

}

.close {
  border: 1px solid green;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

form {
  border: 1px solid purple;
}

.line {
  border: .5px solid lightgrey;
  width: 100%;
  margin: 20px 0;
}

// .walk img {
//   position:
// }

li {
  font-size: .75rem;
}

.walk {
  border: 1px solid green;
}

.text {
  border: 1px solid green;
}
.space-suit {
  border: 1px solid blue;
  height: 100%;
  width: 100%;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rodeo {
  font-size: 3rem;
}

.radio {
  font-size: 1rem;
}

.footer {
 background-color: @main-color;
 width: 100%;
}
