html, body {
    font-family: 'Ubuntu', sans-serif;


}


h1, h2, h3, h4, h5 {
    font-family: 'Russo One', sans-serif;
    color: @secondary-color;
    margin-top: 40px;
}


.header {
  background-color: @main-color;
}

p {

}

ul a {
  color: black;
  text-emphasis: bold;
  font-size: 1rem;
}

.hook {
  margin-left: 1px;

}
.pictures img {
  // width: 300px;
  align-items: center;
  width: 32%;
  height: 100%;

  @media @tablet {
    flex-wrap: wrap;
  }
}
.list {
  border: 1px solid red;

}

.close {
  border: 1px solid green;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

form {
  border: 1px solid purple;
}

.line {
  border: .5px solid lightgrey;
  width: 100%;
  margin: 20px 0;
}

// .walk img {
//   position:
// }

li {
  font-size: .75rem;
}
.space-suit {
  max-height: 250px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rodeo {
  font-size: 3rem;
}

.radio {
  font-size: 1rem;
}

.footer {
 background-color: @main-color;
 width: 100%;
}
